@model ServiceRec.Data.Entities.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Create Client</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="col-form-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="0">Criado</option>
                    <option value="1">Em andamento</option>
                    <option value="2">Pausado</option>
                    <option value="3">Finalizado</option>
                    <option value="4">Cancelado</option>
                    <option value="5">Outro</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label">Serviço</label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Client" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

